/* Design CSS */
body
{
	font-size: 15px; font-family: helvetica; text-align: center;
	background-color: #FFEEE6;
}

.er
{
	background-color: red;
	border: none; border-radius: 10px;
	padding: 10px;
	margin: 10px;
	font-size: 200%;
	color: white;
}

.wr
{
	background-color: green;
	border: none; border-radius: 10px;
	padding: 10px;
	margin: 10px;
	font-size: 200%;
	color: white;
}

.display
{
	display: block;
}

.hide
{
	display: none;
}

a
{
	padding: 8px; margin: 2px;
	background-color: #EBB1BE;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}

a:hover
{
	background-color: #EB93BC;
}

table
{
	border: 1px solid #EAD9FF;
	padding: 5px;
}

th
{
	background-color: #E8DEC5;
}