/* Design CSS */
/* GENERAL DESIGN */
body
{
	font-size: 15px; font-family: helvetica; text-align: center; color: #263238;
	background-color: white;
}

.er
{
	background-color: red;
	border: none; border-radius: 10px;
	padding: 10px;
	margin: 10px;
	font-size: 200%;
	color: white;
}

.wr
{
	background-color: green;
	border: none; border-radius: 10px;
	padding: 10px;
	margin: 10px;
	font-size: 200%;
	color: white;
}

.display
{
	display: block;
}

.hide
{
	display: none;
}

a
{
	padding: 8px; margin: 2px;
	background-color: #ffff8d;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}

a:hover
{
	background-color: #ffff00;
	color: white;
}

table
{
	border: 1px solid #37474f;
	padding: 5px;
}

th
{
	background-color: #263238;
	color: white;
}