/* Design CSS */
/* GENERAL DESIGN */
body
{
	font-size: 15px; font-family: helvetica; text-align: center; color: #263238;
	background-color: white;
}


/* Warnings and float messages */
.er
{
	background-color: red;
	border: none; border-radius: 10px;
	padding: 10px;
	margin: 10px;
	font-size: 200%;
	color: white;
}

.wr
{
	background-color: green;
	border: none; border-radius: 10px;
	padding: 10px;
	margin: 10px;
	font-size: 200%;
	color: white;
}
.error-msg
{
	background-color: darkred;
	padding: 20px; color: white;
	border-radius: 5px;
}

/* Container general design*/
.container
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 5;
}

/* Top bar design */
.top
{
	background: #FFFFD9 ;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 3fr;
}
.menu
{
	display: inline-flex;
}

/* Content design */
.content
{

}
.c-buscador
{
	background-color: #FFFFD9;
	min-width: 150px; width: 40%;
	margin: 20px auto;
	padding: 10px;
}

/* settings card */
.settings-card-edit
{
	bor
}

/* other kind of things */
.display
{
	display: block;
}

.hide
{
	display: none;
}


/* Links  and button*/
a, button, .sub-button
{
	padding: 8px; margin: 2px;
	background-color: #ffff8d;
	border: none; border-radius: 2px;
	text-decoration: none;
	cursor: pointer;
	opacity: .8;
}

a:hover, button:hover, .sub-button:hover
{
	background-color: #ffff00;
	color: lightgray;
	opacity: 1;
}


/* inputs */
.input-search
{
	font-size: 1.4em;
	border: lightgray 1px solid; border-radius: 3px;
	color: #263238;
	padding: 8px;

}
.input-search:active
{
	border: none;
}


/* Tables */
table
{
	border: 1px solid #37474f;
	padding: 5px;
	margin-right: auto; margin-left: auto;
}

th
{
	background-color: #E8DEC5;
}

td
{
	padding: 12px;
}